<div class="form-part contacts" style="height: 79%;">
    <div class="list-container" style="height: 30rem;">
        {{#each AllData}}
            {{> data}}
        {{/each}}
    </div>
</div>


<form class="form" data-key="{{thisData.id}}">
    <input class="input" type="text" required id="nameForUpdate" name="name" placeholder="ФИО" value="{{thisData.name}}"
           oninput="blockButton('{{thisData.name}}', '{{thisData.phone}}')">

    <input class="input" type="tel" required id="phoneForUpdate"  name="phone" placeholder="Телефон" value="{{thisData.phone}}"
           oninput="blockButton('{{thisData.name}}', '{{thisData.phone}}')">
</form>


<div class="controls-wrapper-button">
    <div class="form-part control" >
        <button onclick="updateData()">Изменить</button>
    </div>
    <div class="form-part control">
        <button onclick="deleteData()" id="delete-button">Удалить</button>
    </div>
    <div class="form-part control" >
        <button onclick="{{refuse}}">Отказаться</button>
    </div>
</div>

<div id="error-message"></div>